<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFSyddXmF-4xKC5YUmB4XH5LDGxszupkY</string>
	<key>GCM_SENDER_ID</key>
	<string>29609112853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1cd9f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1cd9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29609112853:ios:329c35be8e39a26502a51c</string>
</dict>
</plist>